In [1]:
import pandas as pd

## Task1:

In [2]:
df=pd.read_csv('DS1_C4_S4_Used_Car_Prices_Data_Challenge.csv')
df

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [3]:
df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mp                  0
Arrival_Date       25
dtype: int64

In [4]:
df=df.dropna()

In [5]:
df

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,fl,3.9,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

## Task2:

In [10]:
T2=df[(df['year']==2014)&(df['state']=='ca')]

In [17]:
T2_1=T2.sort_values(by='mp',ascending=True)

In [34]:
C_100=T2_1.head(100)
C_100

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101,2014,Mitsubishi,Mirage,DE,hatchback,automatic,ca,4.3,24002.0,silver,black,black/white auto sales,7225,Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609,2014,Nissan,Versa,1.6 SV,sedan,automatic,ca,4.1,43948.0,black,black,consumer portfolio services,7425,Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039,2014,Nissan,Versa,1.6 SV,Sedan,manual,ca,3.0,44854.0,black,black,bmw alphera/alphera financial services,7525,Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536,2014,smart,fortwo,passion coupe,hatchback,automatic,ca,4.8,3575.0,â€”,black,mercedes-benz financial services,7900,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120118,2014,Mitsubishi,Lancer,ES,Sedan,automatic,ca,4.1,31861.0,black,black,avis rac/san leandro,9725,Wed Jan 21 2015 04:30:00 GMT-0800 (PST)
408827,2014,Nissan,Versa Note,1.6 SV,Hatchback,manual,ca,4.9,13922.0,gray,black,nissan north america inc.,9725,Tue Apr 21 2015 05:30:00 GMT-0700 (PDT)
197057,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.5,11442.0,black,gray,nissan motor acceptance corporation,9750,Tue Jan 27 2015 04:30:00 GMT-0800 (PST)
299017,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.8,43774.0,black,black,avis rac/san leandro,9750,Wed Feb 11 2015 04:30:00 GMT-0800 (PST)
197093,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,4.6,10529.0,â€”,black,nissan motor acceptance corporation,9750,Tue Jan 27 2015 04:30:00 GMT-0800 (PST)

## Task3:

In [37]:
T3=pd.crosstab(C_100.make,C_100.mp,rownames=['make'],colnames=['mp'])
T3

mp,6175,7225,7425,7525,7900,8300,8400,8425,8475,8500,...,9525,9550,9575,9600,9625,9650,9675,9700,9725,9750
make,,,,,,,,,,,,,,,,,,,,,
Chevrolet,0,0,0,0,0,0,1,0,0,1,...,0,2,0,0,2,1,0,0,0,0
FIAT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ford,0,0,0,0,0,0,0,0,1,0,...,1,2,3,0,0,0,1,0,0,0
Hyundai,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
Mazda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mitsubishi,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
Nissan,1,0,1,1,0,1,0,1,0,1,...,2,0,0,1,2,1,1,2,1,3
Toyota,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
Volkswagen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
smart,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0

## Task4:

In [40]:
T4=C_100[C_100['make']=='Chevrolet']

In [42]:
T4['discount_price']=T4['mp']*0.90

C:\Users\as826\AppData\Local\Temp\ipykernel_7316\3239542142.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T4['discount_price']=T4['mp']*0.90

In [43]:
T4

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date,discount_price
518957,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,1.0,38707.0,white,gray,enterprise vehicle exchange / tra / rental / t...,8400,Tue Jun 09 2015 06:00:00 GMT-0700 (PDT),7560.0
473427,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.3,43370.0,blue,black,enterprise veh exchange/rental,8500,Thu May 28 2015 05:00:00 GMT-0700 (PDT),7650.0
80892,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,34016.0,silver,black,enterprise vehicle exchange / tra / rental / t...,8700,Tue Jan 06 2015 13:00:00 GMT-0800 (PST),7830.0
44314,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,28077.0,â€”,gray,enterprise vehicle exchange / tra / rental / t...,9050,Tue Dec 23 2014 12:00:00 GMT-0800 (PST),8145.0
531030,2014,Chevrolet,Sonic,LT,sedan,automatic,ca,2.5,50629.0,gray,black,the hertz corporation,9150,Thu Jun 11 2015 05:30:00 GMT-0700 (PDT),8235.0
258946,2014,Chevrolet,Sonic,LS,Hatchback,manual,ca,1.9,8887.0,silver,gray,crb auto finance,9250,Wed Feb 11 2015 04:30:00 GMT-0800 (PST),8325.0
471595,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.0,25502.0,silver,black,fox rent a car tra,9325,Wed May 27 2015 08:05:00 GMT-0700 (PDT),8392.5
125534,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,1.0,34780.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9450,Wed Jan 14 2015 07:05:00 GMT-0800 (PST),8505.0
44341,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,20701.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9500,Tue Dec 30 2014 13:00:00 GMT-0800 (PST),8550.0
456227,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,4.4,40464.0,gray,black,the hertz corporation,9500,Thu May 28 2015 05:00:00 GMT-0700 (PDT),8550.0
229362,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,4.1,12658.0,silver,black,the hertz corporation,9550,Wed Feb 04 2015 04:30:00 GMT-0800 (PST),8595.0
456215,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,3.4,39647.0,blue,black,the hertz corporation,9550,Thu May 28 2015 05:00:00 GMT-0700 (PDT),8595.0
105924,2014,Chevrolet,Sonic,LT,Hatchback,automatic,ca,1.0,40051.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9625,Tue Jan 13 2015 12:00:00 GMT-0800 (PST),8662.5
391429,2014,Chevrolet,Spark,LS,Hatchback,automatic,ca,5.0,4459.0,white,gray,buyers auto sales,9625,Wed Mar 04 2015 04:30:00 GMT-0800 (PST),8662.5
125525,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,19146.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9650,Wed Jan 21 2015 07:05:00 GMT-0800 (PST),8685.0

## Task5:

In [46]:
T5=df[(df['year']==2014)]

In [49]:
T5_1=T5.sort_values(by='mp',ascending=True)

In [51]:
T5_2=T5_1.head(100)

In [52]:
T5_2

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
457201,2014,Mitsubishi,Mirage,DE,Hatchback,automatic,tx,4.4,38139.0,gray,black,santander consumer,6000,Tue May 26 2015 17:00:00 GMT-0700 (PDT)
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
519193,2014,Mitsubishi,Mirage,DE,hatchback,automatic,nc,3.2,32254.0,purple,black,santander consumer,6825,Mon Jun 08 2015 02:30:00 GMT-0700 (PDT)
467865,2014,Mitsubishi,Mirage,DE,hatchback,automatic,tx,4.1,28476.0,red,black,budget rent a car/san antonio,6900,Wed Jun 03 2015 03:00:00 GMT-0700 (PDT)
236495,2014,Mitsubishi,Mirage,DE,Hatchback,automatic,nc,2.2,33913.0,silver,black,santander consumer,7025,Mon Feb 09 2015 01:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60755,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.5,37974.0,red,black,avis corporation,8425,Tue Jan 06 2015 12:30:00 GMT-0800 (PST)
515529,2014,Chevrolet,Spark,2LT,hatchback,automatic,fl,3.6,37517.0,blue,gray,enterprise veh exchange/rental,8450,Tue Jun 09 2015 02:15:00 GMT-0700 (PDT)
506772,2014,Nissan,Versa,1.6 SV,sedan,automatic,ga,3.4,55435.0,white,black,the hertz corporation,8450,Mon Jun 08 2015 17:00:00 GMT-0700 (PDT)
36336,2014,Chevrolet,Spark,LS,Hatchback,automatic,oh,3.1,21184.0,blue,black,wells fargo dealer services,8450,Tue Dec 23 2014 12:00:00 GMT-0800 (PST)
16018,2014,Ford,Fiesta,SE,Sedan,manual,fl,4.8,13926.0,white,black,"ford motor credit company,llc",8450,Thu Dec 18 2014 09:00:00 GMT-0800 (PST)

In [55]:
T5_avg=pd.pivot_table(T5_2,values='mp',index='interior',aggfunc='mean')
T5_avg

                   mp
interior
black     7810.000000
gray      8036.904762
â€”         8093.750000

## Task6:

In [57]:
T6=df[(df['year']>=2010)&(df['year']<=2015)]

In [61]:
T6_color=pd.crosstab(T6.make,T6.color,rownames=['make'],colnames=['color'])
T6_color

color,beige,black,blue,brown,burgundy,charcoal,gold,gray,green,lime,off-white,orange,pink,purple,red,silver,turquoise,white,yellow,â€”
make,,,,,,,,,,,,,,,,,,,,
Acura,1,675,64,8,69,3,0,435,1,0,20,0,0,2,48,264,0,353,0,18
Aston Martin,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
Audi,6,864,153,26,1,3,3,354,1,0,0,0,0,0,43,273,0,703,0,199
BMW,82,3311,761,165,7,1,22,2033,33,0,3,13,0,2,318,441,0,2398,0,372
Bentley,0,11,7,1,0,0,0,2,0,0,0,0,0,0,1,0,0,3,0,1
Buick,84,345,99,89,25,2,56,276,5,0,22,0,0,5,122,416,0,513,0,43
Cadillac,96,913,71,49,8,5,79,220,2,0,46,0,14,2,135,385,1,352,0,24
Chevrolet,706,5803,2674,346,219,52,647,4232,174,1,39,156,12,26,3064,7054,5,7937,151,723
Chrysler,169,1847,983,77,224,22,326,1469,12,0,15,1,0,3,881,1304,2,1764,0,205
Dodge,148,3383,1946,42,99,58,395,2936,30,1,18,247,1,23,1901,2499,1,3615,26,455
FIAT,8,130,42,16,0,9,0,98,67,0,1,12,0,0,112,64,0,130,21,15
Ferrari,0,2,0,0,0,0,0,3,0,0,0,0,0,0,5,1,0,1,0,2
Fisker,0,3,0,0,1,0,0,2,0,0,0,0,0,0,0,2,0,1,0,0
Ford,141,10678,4452,716,828,26,240,7679,1067,3,134,160,2,75,6200,7514,21,14191,47,9230
GMC,89,1057,241,82,53,11,73,422,15,0,24,1,0,2,276,694,1,1642,1,68
HUMMER,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0
Honda,58,3277,1407,347,501,6,59,3818,113,0,15,12,0,30,530,2100,8,1948,0,195
Hyundai,165,2685,2179,349,138,6,161,2443,82,1,20,55,0,12,1548,2850,0,2249,19,309
Infiniti,8,3387,916,32,60,1,6,3342,42,0,24,0,0,57,158,649,0,2322,0,807
Jaguar,10,181,68,1,11,1,4,62,17,0,0,0,0,2,33,57,0,82,0,11
Jeep,75,1855,489,47,135,20,61,1085,215,2,5,148,0,1,748,1072,1,1334,32,171
Kia,142,2523,701,547,539,2,51,2123,406,1,49,36,0,104,1242,2214,0,2463,79,235
Land Rover,3,350,34,22,2,0,3,115,16,0,0,1,0,3,25,62,1,241,0,16
Lexus,64,1730,365,120,60,43,176,1038,6,0,72,0,0,9,386,857,0,1127,3,308
Lincoln,19,786,124,75,80,1,17,286,20,0,46,3,0,9,279,306,0,539,0,802
MINI,10,171,437,63,1,2,3,175,133,0,25,53,0,2,308,108,0,464,17,47
Maserati,0,16,4,2,0,0,0,3,0,0,1,0,0,0,1,5,0,11,0,1
Mazda,4,1117,505,7,34,10,0,1401,133,0,4,2,0,16,439,507,11,703,0,73
Mercedes-Benz,12,2831,191,15,5,3,20,1002,13,0,4,0,0,5,245,764,0,1769,0,1247
Mercury,5,40,17,0,4,0,4,17,3,0,0,0,0,0,10,30,0,28,0,7
Mitsubishi,65,372,192,22,8,0,0,317,17,0,0,20,3,6,170,290,2,432,0,85
Nissan,390,7562,2521,420,751,8,143,5391,24,0,100,4,0,297,2291,4772,5,7357,3,2604
Pontiac,0,7,6,0,0,0,0,1,0,0,0,0,0,0,12,17,0,21,0,1
Porsche,1,211,67,22,3,0,3,84,5,0,0,1,0,1,32,61,0,147,5,6
Ram,5,797,247,80,62,3,26,389,36,0,0,25,0,4,506,484,0,1312,1,67
Rolls-Royce,0,4,1,0,0,0,0,6,0,0,0,0,0,0,0,0,0,4,0,1
Saab,0,7,1,1,0,0,0,5,0,0,0,0,0,0,0,3,0,3,0,0
Scion,4,188,114,12,37,1,1,168,5,0,6,32,0,39,66,117,0,179,6,26
Subaru,50,301,632,30,57,3,46,564,150,0,8,22,0,6,253,451,2,560,0,76
Suzuki,17,29,41,3,1,0,3,58,0,0,1,2,0,0,23,45,0,52,0,3
Tesla,0,5,1,0,0,0,0,8,1,0,0,0,0,0,2,2,0,3,0,1
Toyota,217,4062,1644,201,178,23,620,4696,607,0,22,37,0,18,2338,4484,15,4209,1,758
Volkswagen,58,1324,510,64,81,2,44,1466,2,0,1,1,0,6,339,840,0,1150,21,905
Volvo,12,334,104,18,7,1,11,231,1,0,2,4,0,0,50,210,1,262,0,40
smart,0,55,26,1,0,0,0,21,9,0,0,0,0,0,37,46,0,65,4,8

## Task7:

In [65]:
T7=df[(df['year']>=2010)&(df['year']<=2015)&(df['make']=='BMW')&(df['condition']>=4.5)&(df['body']=='Sedan')]

In [73]:
T7_BMW=pd.pivot_table(T7,values='mp',index='year',columns='model',aggfunc='max')
T7_BMW

model,3 Series,4 Series Gran Coupe,5 Series,6 Series Gran Coupe,7 Series,ActiveHybrid 7,M3,M5,M6 Gran Coupe
year,,,,,,,,,
2010,14600.0,NaN,23200.0,NaN,28100.0,NaN,NaN,NaN,NaN
2011,38500.0,NaN,37000.0,NaN,26800.0,NaN,39700.0,NaN,NaN
2012,33300.0,NaN,44200.0,NaN,43000.0,32100.0,NaN,NaN,NaN
2013,37900.0,NaN,42300.0,56300.0,61000.0,NaN,NaN,66000.0,NaN
2014,44800.0,NaN,65000.0,68000.0,56200.0,66000.0,NaN,78000.0,105000.0
2015,46900.0,46900.0,51400.0,NaN,67000.0,NaN,NaN,NaN,NaN

## Task8:

In [76]:
T8=df[(df['body']=='SUV')&(df['year']>=2010)&(df['year']<=2015)&(df['odometer']<=30000)]

In [79]:
T8_sort=T8.sort_values(by='mp',ascending=False)

In [80]:
T8_100=T8_sort.head(100)

In [81]:
T8_100

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
5646,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,ca,4.6,5369.0,white,orange,land rover north america llc,136000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
110247,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,ca,5.0,3619.0,black,black,land rover north america llc,134000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
5842,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,5.0,980.0,charcoal,black,chings trading,133000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
291293,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,4.9,2003.0,blue,beige,mercedes-benz financial services,131000,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
120105,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,il,5.0,1737.0,black,black,autolink sales llc,131000,Tue Jan 27 2015 02:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68887,2014,Lexus,LX 570,Base,SUV,automatic,mo,4.6,11495.0,red,beige,toyota motor sales/lexus,75000,Wed Feb 18 2015 02:30:00 GMT-0800 (PST)
102497,2014,Lexus,LX 570,Base,SUV,automatic,tx,3.6,25758.0,black,tan,sewell cadillac-hummer,75000,Wed Jan 07 2015 10:20:00 GMT-0800 (PST)
246937,2014,Mercedes-Benz,GL-Class,GL550 4MATIC,SUV,automatic,fl,4.3,17327.0,black,black,zimmerman auto brokers inc,75000,Tue Feb 03 2015 01:30:00 GMT-0800 (PST)
197895,2014,BMW,X6 M,Base,SUV,automatic,oh,4.5,3372.0,black,beige,bmw na manheim new jersey,75000,Tue Jan 27 2015 06:00:00 GMT-0800 (PST)
140500,2014,Land Rover,Range Rover Sport,HSE,SUV,automatic,nj,4.9,6558.0,white,gray,hatt auto sales llc,75000,Wed Jan 14 2015 01:30:00 GMT-0800 (PST)